* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: teal;
}

/* Nav Bar */

.Nav-Bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
}

.Nav-Links ul {
    list-style-type: none;
}

.Nav-Bar ul li a {
    text-decoration: none;
    display: flex;
    font-size: 30px;
    color: white;
    padding: 10px 0 10px 0;
}

/* About Me Section*/

.Profile {
    text-align: center;
    color: white;
}

/*My Work Styling*/

#My-Work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#My-Work a {
    text-decoration: none;
    color: white;
}

.application1 .application2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.application2 img {
    width: 100%;
    height: auto;
}

.application2 h2 {
    font-size: 30px;
    text-align: center;
}